.user.btn-success {
    color: #2b9f56;
    background-color: transparent;
}
.icons{
    position:relative;
}
.icon{
    position:absolute;
    right:0;
    bottom:0;
    padding:0.5rem;
    z-index:2;
}
.icon .icms-svg-icon{
    fill:none;
    stroke:green;
    stroke-width:40;
    width:1rem;
}
.hover:hover > .icms-svg-icon,.red > .icms-svg-icon{
    fill:red;
    stroke:none;
}
.icms-comment-html p{
    margin-bottom: 0.5rem;
  }
h6 .icon use{
    font-size:0.8rem !important;
}
.icons a span{
    color:#888;
    font-size:0.8rem !important;
}
.icon:hover{
    text-decoration:none
}


.icon:hover ~ .list_likers{
    opacity:1;
    /*transition: cubic-bezier(0,0,0,1) 2s;*/
}
.span-hover{
    position:absolute;
    bottom:0;
    right:0;
    width:3rem;
    height:3rem;
    
}
/*
.opacity{
    opacity:0;
}
.icon:hover+.opacity,
.opacity:hover {
    opacity: 1;
}
*/

.on.list_likers {
	display: block;

}
.list_likers{
    position:absolute;
    top:-6.5rem;
    right:-1rem;
    width:15rem;
    height:7rem;
    background-color: #888;
    color:#FFF;

    display: none;
}

.list_likers .users-liked{
    position:relative;
}
.users-liked.col-3{
    padding:0.5rem;
}
.users-liked .yes-user{
    text-decoration:none;
}
.users-liked .yes-user p,.users-liked p{
color:#FFF;
font-size: 0.8rem;
}
.users_likers{
    position:fixed;
    width:35rem;
    height:20rem;
    top:50%;
    left:50%;
    background-color: cadetblue;
    z-index:3;
    display:none;
    transition: cubic-bezier(0,0,0,1) 0.5s;
    margin:-4rem 0 0 -8rem;
    overflow:auto;
}
.users_likers.on{   
    display:block; 
    transition: cubic-bezier(0,0,0,1) 0.5s;
}
.users_likers a{
    color:#fff;
}
.users_likers .close{
position:absolute;
right:1rem;
bottom:1rem;
}